{#
 # Caption
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if caption %}
	{% embed 'components/text-inview.html.twig' %}
		{% block content %}
			<div class="Site-container">
				<div class="row">
					<div class="col-10 offset-md-2">
						<p class="mt-12 mb-0 Layout__caption font-family-title">{{- layout.caption -}}</p>
					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endif %}
