{#
 # Content
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{{- english ? "<div class=\"Layout__content\"><p>#{ english | nl2br }</p></div>" : '' -}}
{{- french ? "<div class=\"Layout__content color-yellow-dark-grayish\"><p>#{ french | nl2br }</p></div>" : '' -}}
