{#
 # Layouts: Image full
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<div class="Layout Layout-image-full" data-scroll>

	<div class="row g-0">
		<div>
			{{- include( 'components/image.html.twig', { image: layout.image, size: 'full' } ) -}}
			{{- include( 'components/video-player.html.twig', { video: layout.video } ) -}}
		</div>
	</div>

	{{- include( 'layouts/caption.html.twig', { caption: layout.caption } ) -}}

</div>
