{#
 # Layouts: Image
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Layout Layout-image">
	<div class="Site-container">
		<div class="row">
			<div class="col-md-5 offset-md-7">
				{{- include( 'components/image.html.twig', { image: layout.image, size: 'full' } ) -}}
				<p class="Layout__caption">{{ layout.caption }}</p>
			</div>
		</div>
	</div>
</div>
