{#
 # Layouts: Image full
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Layout position-relative mt-80 mb-80 Layout-image-full {{ classes | join( ' ' ) }}">
	<div class="container">
		<div class="row">
			<div data-scroll data-module-expand="{{ uniqid() }}">
				{{-
					include(
						'components/image.html.twig',
						{
							classes: [ 'd-block', 'w-100', 'h-auto' ],
							size: 'size-12',
							image: layout.image
						},
						with_context = false
					)
				-}}
				{{- include( 'components/video-player.html.twig', { video: layout.video } ) -}}
			</div>
		</div>
	</div>
</div>
