{#
 # Layouts: Image
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Layout Layout-image" data-scroll>
	<div class="Site-container">
		<div class="row">
			<div class="col-md-5 offset-md-7">
				{{- include( 'components/image.html.twig', { image: layout.image, size: 'full' } ) -}}
				{%- if layout.caption -%}
					{% embed 'components/text-in-view.html.twig' %}
						{% block content %}
							<p class="Layout__caption">{{- layout.caption }}</p>
						{% endblock %}
					{% endembed %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
