{#
 # Layouts: Large image
 #}

<div class="mt-80 mb-80 relative {{ classes | join( ' ' ) }}" data-scroll>
	<div class="container">
		<div class="row">

			<div class="lg:col-10/12 {{ layout.content.french or layout.content.english ? '' : ' offset-lg-2' }}">
				{{-
					include(
						'components/image.html.twig',
						{
							size: 'size-10',
							image: layout.image,
							classes: [ 'block', 'w-full', 'h-auto' ],
						}, with_context = false
					)
				-}}
				{{- include( 'components/video-player.html.twig', { video: layout.video } ) -}}
			</div>
		</div>
	</div>

</div>
