{#
 # Layouts: Media
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="my-6 fade-inview {{ classes | join( ' ' ) }}" data-scroll>
	<div class="container">
		<div class="row">
			<div>
				{% for media in props.media %}
					{% if 'video' == media.acf_fc_layout %}
						{{-
							include(
								'components/video.html.twig',
								{
									video: media.video,
									poster: media.poster,
									classes: [ 'rounded-3xl', 'max-w-full', 'mx-auto', 'h-auto' ]
								}
							)
						-}}
					{% endif %}

					{% if 'image' == media.acf_fc_layout %}
						{{-
							include(
								'components/image.html.twig',
								{
									size: 'size-12',
									image: media.image,
									classes: [ 'rounded-3xl', 'max-w-full', 'mx-auto', 'h-auto' ]
								}
							)
						-}}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
