{#
 # Layouts: Large image
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% if layout.item_0.image or layout.item_1.image %}
	<div class="relative my-6 {{ classes | join( ' ' ) }}" data-scroll>
		<div class="container">
			<div class="row">

				{% if layout.item_0.image %}
					<div class="lg:col-6/12">
						{{- include( 'components/image.html.twig', { classes: [ 'rounded-3xl', 'block', 'w-full', 'h-auto' ], image: layout.item_0.image, size: 'size-6' } ) -}}
					</div>
				{% endif %}

				{% if layout.item_1.image %}
					<div class="lg:col-6/12">
						{{- include( 'components/image.html.twig', { classes: [ 'rounded-3xl', 'block', 'w-full', 'h-auto' ], image: layout.item_1.image, size: 'size-6' } ) -}}
					</div>
				{% endif %}
			</div>

		</div>
	</div>
{% endif %}
