{#
 # Layouts: Video
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Layout Layout-video">
	<div class="Site-container">
		<div class="row">
			<div class="col-md-10 offset-md-2">
				{{- include( 'components/video-player.html.twig', { video: layout.video } ) -}}
			</div>
		</div>
	</div>

	{{- include( 'layouts/caption.html.twig', { caption: layout.caption } ) -}}
</div>
