{#
 # Text in view
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% set id = 'text-inview-' ~ ( id | default( uniqid() ) ) %}

 <div
 	id="{{ id }}"
	class="Text-inview js-text-inview"
	data-scroll
	data-scroll-call="play,TextInview"
	data-scroll-id="{{ id }}"
	data-module-text-inview="{{ id }}"
>
	{% block content %}{% endblock %}
</div>
