{#
 # Video player
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% if video.url %}
	<div class="Video-player position-relative" data-module-video-player>
		<button
			class="top-0 bottom-0 Video-player__overlay d-flex align-items-center justify-content-center position-absolute end-0 start-0 h-100 w-100"
			style="background-color: {{ color }};"
			data-video-player="button"
		>
			<span class="pt-56 pb-56 d-inline-block text-uppercase pe-100 ps-100">
				{{- __( 'Lecture', 'matthieuteyssandier' ) -}}
				{{- include( 'svg/use.html.twig', { classes: [ 'ms-8' ], icon: 'play' } ) -}}
			</span>
		</button>
		<video
			data-video-player="video"
			controls
			muted
			playsInline
			src="{{ video.url }}"
		/>
	</div>
{% endif %}
