{#
 # Video player
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% if video.url %}
	<div class="Video-player position-relative" data-module-video-player>
		<button
			class="top-0 bottom-0 Video-player__overlay z-index-2 d-flex align-items-center justify-content-center position-absolute end-0 start-0 h-100 w-100"
			style="background-color: {{ color }};"
			data-video-player="button"
		>
			<span class="py-24 px-44 py-lg-56 d-flex align-items-center text-uppercase px-lg-100">
				{{- __( 'Lecture', 'matthieuteyssandier' ) -}}
				{{- include( 'svg/use.html.twig', { classes: [ 'ms-8' ], icon: 'play' } ) -}}
			</span>
		</button>
		<video
		class="h-auto  d-block w-100 z-index-1"
			data-video-player="video"
			muted
			playsInline
			src="{{ video.url }}"
		/>
	</div>
{% endif %}
