/**
 * Color picker
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Color-picker {
	height: 20px;
	will-change: width;

	li {
		margin-right: 2px;

		&:last-child {
			margin-right: 0;
		}
	}

	button {
		@include size(20px);

		border-radius: 10px;
	}
}
