/**
 * Color picker
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */
.Color-picker {
	position: relative;
	height: 20px;
	overflow: hidden;

	will-change: width;

	ul {
		list-style-type: none;
		display: flex;
	}

	li {
		margin-right: 2px;

		&:last-child {
			margin-right: 0;
		}
	}

	button {
		@extend .d-block;
		@include size(20px);

		border-radius: 10px;
	}
}
