/**
 * Layout
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Layout {
	$this: &;

	@extend %position-relative;
	@include margin(top #{$scale-factor * 10}px bottom #{$scale-factor * 10}px);

	&__content {
		@include letter-spacing(-20);

		font-size: 16px;
		line-height: (22/16);
	}

	&__caption {
		@include margin(top #{$scale-factor * 1.5}px bottom 0);
		@extend %font-family-title;

		line-height: (28/16);
	}

	&[data-scroll] {
		.Video-player,
		img {
			opacity: 0;
			transition: 1.5s opacity map-get($easings, ease-out-expo);
			will-change: opacity;
		}
	}

	&[data-scroll].is-inview {
		.Video-player,
		img {
			opacity: 1;
		}
	}

	// .Layout.Layout-image
	&#{&}-image {
		img {
			@extend .d-block;
			@include size(100%, auto);
		}
	}

	// .Layout.Layout-large-image
	&#{&}-large-image {
		img {
			@extend .d-block;
			@include size(100%, auto);
		}
	}

	// .Layout.Layout-two-images
	&#{&}-two-images {
		img {
			@extend .d-block;
			@include size(100%, auto);
		}
	}

	// .Layout.Layout-image-full
	&#{&}-image-full {
		img {
			@extend .d-block;
			@include size(100%, auto);
		}
	}

	// .Layout.Layout-image-text
	&#{&}-image-text {
		img {
			@extend .d-block;
			@include size(100%, auto);
		}

		.Layout__content {
			font-size: 28px;
			line-height: (39/28);
		}
	}
}
