/**
 * Layout
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Layout {
	$this: &;

	&__content {
		@include letter-spacing(-20);

		font-size: 16px;
		line-height: (22/16);
	}

	&__caption {
		line-height: (28/16);
	}

	&[data-scroll] {
		.Video-player,
		img {
			opacity: 0;
			transition: 1.5s opacity map-get($easings, ease-out-expo);
			will-change: opacity;
		}
	}

	&[data-scroll].is-inview {
		.Video-player,
		img {
			opacity: 1;
		}
	}
}
