/**
 * Logo
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */
.Logo {
	@extend .d-inline-block;
	@extend %vertical-align-middle, %Pointer-events-auto;

	img {
		@extend .d-block;
	}

	@at-root .Single-product .Hero &,
		.Find-us-page .Hero & {
		@include padding(top em($scale-factor * 7.5));
		@extend %position-relative, %margin-top-0;

		img {
			@include media-breakpoint-up(md) {
				@include size(em($scale-factor * 44));
			}
		}
	}

	@at-root .Single-recipe .Hero & img {
		@include media-breakpoint-up(md) {
			@include size(em($scale-factor * 35));
		}
	}

	@at-root .Nav & {
		@include margin(right auto left auto);
		@extend .d-block;
		@include size(em($scale-factor * 20));

		@include media-breakpoint-up(md) {
			@include size(em($scale-factor * 25.6));
		}

		img {
			@include size(100%);

			object-fit: contain;
			object-position: center;
		}
	}

	@at-root .Site-header & img {
		@include size(em($scale-factor * 10));

		transform-origin: 0 0;
		transition: transform 0.5s map-get($easings, ease-out-expo);
		will-change: transform;

		@include media-breakpoint-up(md) {
			@include size(em($scale-factor * 16));

			transform-origin: center;
		}
	}

	@at-root .Hero & {
		@include margin(top em($scale-factor * 7.5));

		img {
			@include size(em($scale-factor * 44));
			@include margin(right auto left auto);
		}
	}

	@at-root .Site-header & {
		@include media-breakpoint-up(md) {
			@include autoAlpha(1);

			will-change: opacity, visibility;
			transition: opacity 0.5s map-get($easings, ease-out-expo),
				visibility 0.5s map-get($easings, ease-out-expo);
		}
	}

	@at-root .is-ontop .Site-header & {
		img {
			transform: scale((17.5/10));
		}

		@include media-breakpoint-up(md) {
			@include autoAlpha(0);

			img {
				transform: scale(1);
			}
		}
	}
}
