/**
 * Nav
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Nav {
	@include autoAlpha(0);

	transition: opacity 1.5s map-get($easings, ease-out-expo),
		visibility 1.5s map-get($easings, ease-out-expo);
	will-change: opacity, visibility;
	transition-delay: 1.5s;

	@at-root .has-nav-open & {
		@include autoAlpha(1);

		transition-delay: 0s;
	}

	&__header {
		will-change: clip-path;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path 1.5s map-get($easings, ease-out-expo);

		@at-root .has-nav-open & {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}
}
