/**
 * Socials
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Socials {
	line-height: (18/16);

	li {
		will-change: clip-path;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 1.5s clip-path map-get($easings, ease-out-expo);

		@at-root .is-first-hit & {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}
}
