/**
 * Video
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */
.Video-player {
	video {
		@extend .d-block;
		@include size(100%, auto);
		z-index: 1;
	}

	button {
		@include autoAlpha(1);

		transition: 0.5s opacity map-get($easings, ease-out-expo),
			0.5s visibility map-get($easings, ease-out-expo);
		will-change: opacity, visibility;
	}

	&.is-played {
		button {
			@include autoAlpha(0);
		}
	}

	&__overlay {
		transition: opacity 0.5s map-get($easings, ease-out-expo),
			visibility 0.5s map-get($easings, ease-out-expo);
		will-change: opacity, visibility;
		z-index: 2;

		span {
			border-radius: 50%;
			border: 3px solid the_color(black);
			font-size: 40px;
			line-height: (48/40);

			svg {
				@include size(27px, 29px);
			}
		}
	}
}
