/**
 * Video
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 */

.Video-player {
	button {
		@include autoAlpha(1);

		transition: 0.5s opacity map-get($easings, ease-out-expo),
			0.5s visibility map-get($easings, ease-out-expo);
		will-change: opacity, visibility;
	}

	&.is-played {
		button {
			@include autoAlpha(0);
		}
	}

	&__overlay {
		transition: opacity 0.5s map-get($easings, ease-out-expo),
			visibility 0.5s map-get($easings, ease-out-expo);
		will-change: opacity, visibility;

		span {
			border-radius: 50%;
			border-width: 3px;
			border-style: solid;

			line-height: (48/40);
			font-size: clamp(20px, #{(40 * 100) / 1920}vw, 40px);

			svg {
				@include size(27px, 29px);
			}
		}
	}
}
