{#
 # Footer
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Site-container padding-top-80 padding-bottom-40">
	<div class="row">
		<div>
			Drop me a line for freelance work
			{{ public_email }}
			<a href="https://19h47.fr" target="_blank" rel="noopener noreferer">DEV BY 19H47</a>
		</div>
	</div>
</div>
