{#
 # Footer
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="pb-40 text-center Site-container pt-80 color-yellow-dark-grayish">
	<div class="row">
		<div>
			Drop me a line for freelance work
			<a href="{{ public_email }}" class="m-0 d-block Site-email text-uppercase">{{ public_email }}</a>
			<a class="mt-40" href="https://19h47.fr" target="_blank" rel="noopener noreferer">DEV BY 19H47</a>
		</div>
	</div>
</div>
