/**
 * Base
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

html {
	@extend .background-color-orange-light-grayish;

	// scroll-behavior: smooth;
	min-height: 100%;

	&.is-loading {
		@extend %cursor-wait;
	}
}

body {
	@extend .background-color-orange-light-grayish;
	@extend .font-weight-regular, .font-family-body;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	line-height: clamp(
		(24/16),
		(($base-line-height / $base-font-size) * 100) / 1920,
		($base-line-height / $base-font-size)
	);
	font-size: clamp(16px, #{($base-font-size * 100) / 1920}vw, #{$base-font-size}px);

	@include margin(bottom unquote('env(safe-area-inset-bottom)'));
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin(top 0 bottom 1em);
}

strong,
b {
	@extend .font-weight-bold;
}

small {
}

hr {
	@extend .d-block;
	@include size(100%, em(1));

	border: none;
	background-color: var(--gray-very-dark-02);
}
