// Neue Montreal regular
@font-face {
	font-family: 'Neue Montreal';
	src: url('../fonts/neue-montreal-regular.eot');
	src: url('../fonts/neue-montreal-regular.woff2') format('woff2'),
		url('../fonts/neue-montreal-regular.woff') format('woff'),
		url('../fonts/neue-montreal-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/neue-montreal-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// Neue Montreal bold
@font-face {
	font-family: 'Neue Montreal';
	src: url('../fonts/neue-montreal-bold.eot');
	src: url('../fonts/neue-montreal-bold.woff2') format('woff2'),
		url('../fonts/neue-montreal-bold.woff') format('woff'),
		url('../fonts/neue-montreal-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/neue-montreal-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// Rotonto regular
@font-face {
	font-family: 'Rotonto';
	src: url('../fonts/rotonto-regular.eot');
	src: url('../fonts/rotonto-regular.woff2') format('woff2'),
		url('../fonts/rotonto-regular.woff') format('woff'),
		url('../fonts/rotonto-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rotonto-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
