{#
 # 404
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}
	<div class="fixed inset-0 w-full h-full" data-module-error></div>
{% endblock %}

{% block footer %}{% endblock %}
