{#
 # Front Page
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{% if post.meta( 'case_studies' ) %}
		<div class="fixed inset-0 pt-16 pb-6 lg:pt-37">
			<div class="container h-full">
				<div
					class="flex flex-col h-full row lg:flex-row"
					data-module-case-studies
				>
					{%- for case_study in get_posts( post.meta( 'case_studies' ) ) -%}
						{{-
							include(
								'components/tease-case-study.html.twig',
								{
									case_study: case_study,
									attributes: {
										'data-case-studies': 'item',
										'style': 'transition-delay: 0s, ' ~ loop.index0 * 0.1 ~ 's, ' ~ loop.index0 * 0.1 ~ 's',
									},
									classes: [
										'my-1',
										'lg:my-0',
										'transition-flex-grow-transform-opacity',
										'duration-1000',
										'ease-out-expo',
										'group',
										'grow',
										loop.first ? 'lg:grow-0.8' : 'lg:grow-0.2'
									],
									next: false
								}
							)
						-}}
					{%- endfor -%}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block footer %}{% endblock %}
