/**
 * Hero
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Hero {
	@include size(100%, auto);
	@extend %position-relative;

	color: the_color(white);
	min-height: #{$scale-factor * 22}px;

	@include media-breakpoint-up(md) {
		min-height: #{$scale-factor * 57}px;
	}

	.Logo {
		@extend .d-none, .d-md-block;
		@include absolute(top 0 right 0 left 0);

		z-index: 3;
	}

	&.has-thumbnail {
		min-height: #{$scale-factor * 57}px;
	}

	&__body {
		@extend %position-relative;
		@include padding(top em($scale-factor * 27));

		z-index: 2;

		img {
			@include size(auto);
			@extend %margin-x-auto;

			max-width: 100%;
		}

		h1 {
			text-shadow: em($scale-factor / 2) em($scale-factor / 2) em($scale-factor)
				rgba(the_color(black), 0.6);
		}

		@include media-breakpoint-up(md) {
			@include padding(top em($scale-factor * 60));
		}
	}

	&__background {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		z-index: 1;

		img,
		video {
			@include size(100%);

			object-fit: cover;
			object-position: center;
		}

		svg {
			@include size(auto);
			@extend %margin-x-auto;
			@extend .d-block;

			max-height: 100%;
			max-width: 100%;
		}

		@at-root .Single-product & {
			@include size(100%, auto);

			position: relative;

			@include media-breakpoint-up(md) {
				@include absolute(top 0 right 0 bottom 0 left 0);
				@include size(100%);
			}
		}
	}
}
