/**
 * Site
 *
 * @package WordPress
 * @subpackage MatthieuTeyssandier
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Site {
	/**
	 * Site container
	 *
	 * The fluid container of the grid
	 *
	 * @uses .Site-container
	 */
	&-container {
		// max-width: $container-width;
		width: 100%;

		@extend %position-relative;

		@include margin(top 0 right auto bottom 0 left auto);

		@include padding(right $grid-gutter-width left $grid-gutter-width);
	}

	&-title {
		@extend %font-family-title;
		@extend .d-flex, .align-items-center;

		font-size: 25.8064px;
		line-height: (31/25.8064);

		will-change: clip-path;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 1.5s clip-path map-get($easings, ease-out-expo);

		@at-root .is-first-hit & {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}

	&-description {
		@include letter-spacing(-20);
		@extend %font-family-title, %margin-top-0;

		font-size: 56px;
		line-height: (67/56);
	}

	&-introduction {
		@extend %text-transform-uppercase;

		line-height: (18/16);
		color: the_color(yellow, dark-grayish);

		& > div {
			will-change: clip-path;
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			transition: 1.5s clip-path map-get($easings, ease-out-expo);

			@at-root .is-first-hit & {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
		}
	}
}
